<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="header-css">
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/main.css" />
</div>
<div th:fragment="header-picture">
    <table class="table-header">
        <tbody>
            <tr>
                <td>
                    <img src="/images/filmolike.png">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:fragment="header-user">
    <table>
        <tbody>
        <tr>
            <td th:inline="text"> Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!</td>
            <td>
                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" value="Выход">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>