body {
    color: #4B0082;
}
h1 {
    font: solid 1.5em Verdana sans-serif;
    padding-bottom: 10px;
}

.block {
    padding-top:5px;
    padding-bottom:5px;
}
.two-btn-nearby {
    float: left;
    margin: 2px;
}
.error-message {
    color:red;
    padding-top:5px;
    padding-bottom:5px;
}
.test {
    color:yellow;
}
.table-header {
    width: 100%;
    background: gray;
}
.table-header td {
    align: center;
}

.table-content {
    border: 1px solid #eee;
    margin-bottom: 20px;
    width: 65%;
    margin: auto;
}
.table-content th {
    font-weight: bold;
    padding: 10px;
    background: #efefef;
}
.table-content td {
    padding: 10px;
    border: 1px solid #eee;
    text-align: left;
}
.table-content tbody tr:nth-child(odd){
    background: #fff;
}
.table-content tbody tr:nth-child(even){
    background: #f7f7f7;
}
.table-con {

}


.div-center {
    text-align: center;
}

