<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
	<link rel="stylesheet" href="/css/main.css" />
	<title>Создание заметки</title>
</head>
<body>
	<div th:replace="fragments/header :: header-picture">
		Static header
	</div>
	<div th:replace="fragments/header :: header-user">
		Static header - Добро пожаловать, username
	</div>

	<div align="center">
		<h1>Создание новой заметки</h1>

		<a href="/notes">Вернуться к списку заметок</a>

		<form action="#" th:action="@{/notes}" method="POST" th:object="${note}">
			<table class="table-content">
				<tbody>
					<tr>
						<td>
							Заголовок
							<div class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
						</td>
						<td>
							<input type="text" id="title" th:field="*{title}" />
						</td>
					</tr>
					<tr>
						<td>Просмотрен?</td>
						<td>
							<input type="checkbox" name="watched" th:checked="*{watched}" />
						</td>
					</tr>
					<tr>
						<td>Оценка</td>
						<td>
							<select id="estimate" name="estimate">
								<option th:each="estimateOpt : ${T(home.work.filmolike.domain.Estimate).values()}"
										th:value="${estimateOpt.getDisplayName}" th:text="${estimateOpt}">estimate</option>
							</select>
						</td>
					</tr>
						<td colspan="2"><button type="submit">Сохранить</button> </td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>