<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заметка</title>
    <div th:replace="fragments/header :: header-css" />
</head>
<body>
    <div th:replace="fragments/header :: header">
        Static header
    </div>

    <div class="div-center">
        <h1>Заметка</h1>

        <a href="/notes">Вернуться к списку заметок</a>

        <table class="table-content">
            <tbody>
                <tr>
                    <td>Заголовок</td>
                    <td id="title" th:text="${note.title}">Title</td>
                </tr>
                <tr>
                    <td>Просмотрен?</td>
                    <td th:text="${note.watched}? 'Да' : 'Нет'" id="watched">yes/no</td>
                </tr>
                <tr>
                    <td>Оценка</td>
                    <td id="estimate" th:text="${note.estimate}">estimate</td>
                </tr>
            </tbody>
        </table>

            <form action="#" th:action="@{'/notes/' + ${note.id}} + '/edit'">
                <input type="submit" value="Редактировать"/>
            </form>
            <form action="#" th:action="@{'/notes/' + ${note.id}}" th:object="${note}"
                  th:method="DELETE">
                <input type="submit" value="Удалить"/>
            </form>

    </div>
    </body>
</html>