<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Домашняя страница</title>
    <div th:replace="fragments/header :: header-css" />
</head>
<body>
    <div th:replace="fragments/header :: header-without-username">
        Static header
    </div>

    <h1>Добро пожаловать!</h1>
    <h2>
        Здесь вы можете хранить заметки по фильмам
    </h2>
    <div class="block">
        Для продолжения работы - <a href="/login">авторизуйтесь</a>
    </div>
    <div class="block">
        Если у вас нет учетной записи, <a href="/registration">зарегистрируйтесь</a>
    </div>
</body>
</html>