<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Домашняя страница</title>
</head>
<body>
    <div th:replace="fragments/header :: header-picture">
        Static header
    </div>

    <h1>Домашняя страница</h1>
    <h2>
        Добро пожаловать!
        Здесь вы можете хранить заметки по фильмам
    </h2>
    <div class="block">
        Для продолжения работы - <a href="/login">авторизуйтесь</a>
    </div>
    <div class="block">
        Если у вас нет учетной записи, <a href="/registration">зарегистрируйтесь</a>
    </div>
</body>
</html>