<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Регистрация</title>
</head>
<body>
    <div th:replace="fragments/header :: header-picture">
        Static header
    </div>

    <h1>Регистрация</h1>
    <form action="#" th:action="@{/registration}" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Логин:</td>
                    <td><input type="text" name="username" required="true" autofocus="true"></td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td><input type="password" name="password" required="true"></td>
                </tr>
                <tr>
                    <td>Пароль повторно:</td>
                    <td><input type="password" name="passwordConfirm" required="true"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Зарегистрировать"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="error-message" th:text="${errorMessage}"></div>
    <div class="block">
        Если у вас уже имеется учетная запись, <a href="/login">авторизуйтесь</a>
    </div>
</body>
</html>