<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Регистрация подтверждена</title>
</head>
<body>
    <div th:replace="fragments/header :: header-picture">
        Static header
    </div>

    <h1>Вы успешно зарегистрировались</h1>
    <div class="block">
        Для продолжения работы - <a href="/login">авторизуйтесь</a>
    </div>
</body>
</html>